:root {
    /* --font-family: "Geist Pixel", sans-serif; */
}

html {
    font-size: 20px;
    @media (min-width: 992px) {
        font-size: 30px;
    }
}



* {
    font-family: "Geist Pixel", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "ELSH" 0;
}

body {
    background-color: black;
    color: white;
    text-align: center;

    min-height: 100vh;
    /* margin: 1rem auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ending {
    border: 10px white dashed;
}

#game {
    width: 80%;
}

p {
    font-size: 1rem;
}

#pixel-art {
    position: relative;
}

#pixel-art img {
    width: 220px;
    height: auto;
    image-rendering: pixelated;
    @media (min-width: 992px) {
        width: 250px;
    }
}

#pixel-art.fireworks::before,
#pixel-art.fireworks::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100px;
    height: 120px;
    transform: translateY(-50%);
    image-rendering: pixelated;
}

#pixel-art.fireworks::before {
    right: calc(70% + 1rem);
    background: url("../images/ending_fireworks_left.gif") center / contain no-repeat;
}

#pixel-art.fireworks::after {
    left: calc(70% + 1rem);
    background: url("../images/ending_fireworks_right.gif") center / contain no-repeat;
}

input {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 0.9rem;
}

button {
    background-color: black;
    color: white;
    border: 1px dashed white;
    margin: 0.5rem 1rem;
    font-size: 0.8rem;
    padding: 0.5rem;
}

button.input-button {
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
}

#story-text {
    white-space: pre-line;
}
